FOD_BASE_URL=https://api.ams.fortify.com
FOD_CLIENT_ID=replace_me
FOD_CLIENT_SECRET=replace_me
FOD_TENANT=
FOD_RELEASE_ID=123456
FOD_VERIFY_SSL=true
GITHUB_TOKEN=replace_me
GITHUB_REPOSITORY=owner/repo
PR_NUMBER=1
GITHUB_BASE_REF=
